<template>
    <header class="header">
        <h1>TodoList</h1>
        <div id="nav">
            <router-link to="/">Home</router-link>
            <router-link to="/about">About</router-link>
        </div>
    </header>
</template>
<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>
    .header {
        background: #333;
        color: #ffffff;
        text-align: center;
        padding: 10px;
    }

    #nav a{
        color: #ffffff;
        padding-right: 5px;
        text-decoration: none;
    }
    #nav a {
        font-weight: bold;
        color: #ffffff;
    }
</style>