<template>
    <div id="app">
        <Header/>
        <AddTodo v-on:add-todo="addTodo"/>
        <Todos v-bind:todos="todo" v-on:del-todo="deleteTodo"/>
    </div>
</template>

<script>
    import Todos from "../components/Todos";
    import AddTodo from "../components/AddTodo";
    import axios from 'axios'

    export default {
        name: "Home",
        components: {
            Todos,
            AddTodo,

        },
        data() {
            return {
                todo: []
            };
        },
        methods: {
            deleteTodo(id) {
                axios.delete('https://jsonplaceholder.typicode.com/todos/${id}')
                    .then()
                    .catch(err => console.log(err))
                this.todo = this.todo.filter(todo => todo.id !== id);
            },
            addTodo(newTodo) {
                const {title, completed} = newTodo;
                axios.post('https://jsonplaceholder.typicode.com/todos', {
                    title,
                    completed
                })
                    .then(res => this.todo = [...this.todo, res.data])
                    .catch(err => console.log(err))
            }
        },
        created() {
            axios.get('https://jsonplaceholder.typicode.com/todos?_limit=5')
                .then(res => this.todo = res.data)
                .catch(err => console.log(err))
        }
    };
</script>

<style>
    #app {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    .btn {
        display: inline-block;
        border: none;
        background: #555;
        color: #fff;
        padding: 7px 20px;
        cursor: pointer;
    }

    .btn:hover {
        background: #666;
    }
</style>
